src/diapysef/pyenv36
results/
bruker/

# Compiled python modules.
*.pyc

# Setuptools distribution folder.
src/diapysef/dist/
src/diapysef/.python-version
src/diapysef/diapysef.egg-info
src/diapysef/build
